/*inicia el diseno del login*/

.containerLogin {
    background: url(https://www.xtrafondos.com/wallpapers/cyberhunter-8887.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    padding: 50px 10px;
}

.containerFooter {
    margin-top: 15px;
}

.contenedor {
    width: 100%;
    padding: 25px;
}

.formulario {
    background: #fff;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #1a2537;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
    padding: 15px 10px;
}

.link {
    text-decoration: none;
    color: #1a2537;
}

@media (min-width: 768px) {
    .formulario {
        margin: auto;
        width: 450px;
        margin: 10px;
    }
}