/*inicia el diseno del login*/

.header {
    display: flex;
    color: #fff;
}

.content {
    max-width: 50rem;
    margin: auto;
    text-align: center;
    margin-left: -19px;
}

.header-content {
    margin-top: 100px;
    margin-left: 40px;
    position: absolute;
}

.header-video video {
    min-width: 110vh;
    max-height: 117vh;
}

.containerFooter {
    margin-top: 15px;
}

.contenedor {
    width: 100%;
    padding: 25px;
}

.formulario {
    background: #fff;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #1a2537;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
    padding: 15px 10px;
}

.link {
    text-decoration: none;
    color: #1a2537;
}

@media (min-width: 768px) {
    .formulario {
        margin: auto;
        width: 420px;
        margin: 20px;
    }
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 533px;
  height: 400px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 533px;
  height: 400px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}