@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lobster&family=Shadows+Into+Light&display=swap');
.header {
    display: flex;
    color: #fff;
}

.content {
    max-width: 50rem;
    margin: auto;
    text-align: center;
    margin-left: -19px;
}

section {
    background-color: black;
}

.header-video {
    background-color: black;
}

.header-video video {
    margin-top: -100px;
    min-width: 100vh;
    max-height: 116.1vh;
    /**116.1*/
}

.containerFooter {
    padding: 20px;
    background-color: black;
    color: white;
}

h2#titulo {
    color: red;
    font-family: 'Comforter Brush', cursive;
}

.title-sub {
    color: red;
}

.row {
    align-items: center;
    text-align: center;
}

.contenedor {
    width: 100%;
    padding: 25px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #1a2537;
}

.left {
    text-align: left;
    font-size: 20px;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.right {
    text-align: right;
    font-size: 20px;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
    padding: 15px 10px;
}

.link {
    text-decoration: none;
    color: #1a2537;
}

@media (min-width: 1367px) {
    .header-content {
        margin-top: 210px;
        margin-left: 475px;
        position: absolute;
    }
}

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

section h2 {
    width: 100%;
    color: #999;
    font-family: monospace;
}

.card {
    width: 33.333333%;
    background-color: black;
}

h2 {
    text-align: center;
}

p {
    color: white;
}


/* Estilo A */

.estilo-a {
    font-family: sans-serif;
}

.estilo-a a {
    text-decoration: none;
    color: black;
}

.estilo-a a:hover {
    text-decoration: underline;
}

.estilo-a .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
}

.estilo-a .img-container img {
    width: 100%;
    position: absolute;
    top: 20%;
    transition: all 0.5s;
}

.estilo-a:hover .img-container img {
    transform: scale(1.2);
}