@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lobster&family=Shadows+Into+Light&display=swap');
.container-user {
    background-image: url("https://redragon.es/content/uploads/2021/04/Shrapnel_imagen-1.jpg");
    color: white;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
    align-items: center;
    padding-top: 80px;
}

.register-title {
    padding: 40px 40px 0px;
    font-family: 'Comforter Brush', cursive;
    color: red;
}

.form-register {
    padding: 40px;
}

.form-register {
    width: 800px;
}

textarea {
    width: 600px;
    max-height: 70px;
}